{<<"name">>,<<"eredis">>}.
{<<"version">>,<<"1.2.0">>}.
{<<"requirements">>,#{}}.
{<<"app">>,<<"eredis">>}.
{<<"maintainers">>,[<<"Knut Nesheim">>]}.
{<<"precompiled">>,false}.
{<<"description">>,<<"Erlang Redis Client">>}.
{<<"files">>,
 [<<"src/eredis.app.src">>,<<"LICENSE">>,<<"README.md">>,
  <<"include/eredis.hrl">>,<<"include/eredis_sub.hrl">>,
  <<"priv/basho_bench_eredis.config">>,
  <<"priv/basho_bench_eredis_pipeline.config">>,
  <<"priv/basho_bench_erldis.config">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"src/basho_bench_driver_eredis.erl">>,
  <<"src/basho_bench_driver_erldis.erl">>,<<"src/eredis.erl">>,
  <<"src/eredis_client.erl">>,<<"src/eredis_parser.erl">>,
  <<"src/eredis_sub.erl">>,<<"src/eredis_sub_client.erl">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"build_tools">>,[<<"rebar3">>]}.
