{<<"app">>,<<"partisan">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Scalable peer service for Lasp">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"include/partisan.hrl">>,
  <<"priv/.gitkeep">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"src/partisan.app.src">>,<<"src/partisan.erl">>,
  <<"src/partisan_acknowledgement_backend.erl">>,
  <<"src/partisan_analysis.erl">>,<<"src/partisan_app.erl">>,
  <<"src/partisan_causality_backend.erl">>,
  <<"src/partisan_client_server_peer_service_manager.erl">>,
  <<"src/partisan_compose_orchestration_strategy.erl">>,
  <<"src/partisan_config.erl">>,<<"src/partisan_connection_cache.erl">>,
  <<"src/partisan_full_membership_strategy.erl">>,<<"src/partisan_gen.erl">>,
  <<"src/partisan_gen_fsm.erl">>,<<"src/partisan_gen_server.erl">>,
  <<"src/partisan_hbbft_worker.erl">>,
  <<"src/partisan_hyparview_peer_service_manager.erl">>,
  <<"src/partisan_hyparview_xbot_peer_service_manager.erl">>,
  <<"src/partisan_kubernetes_orchestration_strategy.erl">>,
  <<"src/partisan_logger.erl">>,<<"src/partisan_membership_strategy.erl">>,
  <<"src/partisan_mochiglobal.erl">>,<<"src/partisan_monitor.erl">>,
  <<"src/partisan_orchestration_backend.erl">>,
  <<"src/partisan_orchestration_strategy.erl">>,
  <<"src/partisan_otp_adapter.erl">>,<<"src/partisan_peer_connection.erl">>,
  <<"src/partisan_peer_connection.hrl">>,<<"src/partisan_peer_service.erl">>,
  <<"src/partisan_peer_service_client.erl">>,
  <<"src/partisan_peer_service_connections.erl">>,
  <<"src/partisan_peer_service_console.erl">>,
  <<"src/partisan_peer_service_events.erl">>,
  <<"src/partisan_peer_service_manager.erl">>,
  <<"src/partisan_peer_service_server.erl">>,
  <<"src/partisan_pluggable_peer_service_manager.erl">>,
  <<"src/partisan_plumtree_backend.erl">>,
  <<"src/partisan_plumtree_broadcast.erl">>,
  <<"src/partisan_plumtree_broadcast_handler.erl">>,
  <<"src/partisan_plumtree_util.erl">>,<<"src/partisan_pool.erl">>,
  <<"src/partisan_pool_sup.erl">>,<<"src/partisan_promise_backend.erl">>,
  <<"src/partisan_rpc_backend.erl">>,
  <<"src/partisan_scamp_v1_membership_strategy.erl">>,
  <<"src/partisan_scamp_v2_membership_strategy.erl">>,
  <<"src/partisan_socket.erl">>,
  <<"src/partisan_static_peer_service_manager.erl">>,
  <<"src/partisan_sup.erl">>,<<"src/partisan_test_server.erl">>,
  <<"src/partisan_trace_file.erl">>,<<"src/partisan_trace_orchestrator.erl">>,
  <<"src/partisan_transform.erl">>,<<"src/partisan_transformed_module.erl">>,
  <<"src/partisan_util.erl">>,<<"src/partisan_vclock.erl">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/lasp-lang/partisan">>}]}.
{<<"name">>,<<"partisan">>}.
{<<"requirements">>,
 [{<<"acceptor_pool">>,
   [{<<"app">>,<<"acceptor_pool">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"1.0.0">>}]},
  {<<"lager">>,
   [{<<"app">>,<<"lager">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"~> 3.5">>}]},
  {<<"types">>,
   [{<<"app">>,<<"types">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"~> 0.1">>}]},
  {<<"uuid_erl">>,
   [{<<"app">>,<<"uuid">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"~>1.7.5">>}]}]}.
{<<"version">>,<<"4.1.0">>}.
