{<<"app">>,<<"quickrand">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,
 <<"Quick Random Number Generation: Provides a simple interface to call efficient random number generation functions based on the context.  Proper random number seeding is enforced.">>}.
{<<"files">>,
 [<<"src">>,<<"src/quickrand.app.src">>,<<"src/quickrand.erl">>,
  <<"src/quickrand_cache.erl">>,<<"src/quickrand_cache_normal.erl">>,
  <<"src/quickrand_hash.erl">>,<<"src/quickrand_internal.hrl">>,
  <<"src/quickrand_math.hrl">>,<<"src/quickrand_normal.erl">>,
  <<"src/random_wh06_int.erl">>,<<"src/random_wh82.erl">>,<<"doc">>,
  <<"doc/edoc-info">>,<<"doc/erlang.png">>,<<"doc/index.html">>,
  <<"doc/modules-frame.html">>,<<"doc/overview-summary.html">>,
  <<"doc/quickrand.html">>,<<"doc/quickrand_cache.html">>,
  <<"doc/quickrand_cache_normal.html">>,<<"doc/quickrand_hash.html">>,
  <<"doc/quickrand_normal.html">>,<<"doc/random_wh06_int.html">>,
  <<"doc/random_wh82.html">>,<<"doc/stylesheet.css">>,<<"rebar.config">>,
  <<"README.markdown">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,[{<<"GitHub">>,<<"https://github.com/okeuday/quickrand">>}]}.
{<<"maintainers">>,[<<"Michael Truog">>]}.
{<<"name">>,<<"quickrand">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"1.7.5">>}.
