{<<"name">>,<<"sext">>}.
{<<"version">>,<<"1.4.0">>}.
{<<"requirements">>,#{}}.
{<<"app">>,<<"sext">>}.
{<<"maintainers">>,[<<"Ulf Wiger">>]}.
{<<"precompiled">>,false}.
{<<"description">>,<<"Sortable serialization library">>}.
{<<"files">>,
 [<<"src/sext.app.src">>,<<"LICENSE">>,<<"NOTICE">>,<<"README.md">>,
  <<"rebar.config">>,<<"rebar.config.script">>,<<"rebar.lock">>,
  <<"src/sext.erl">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/uwiger/sext">>}]}.
{<<"build_tools">>,[<<"rebar3">>]}.
