{<<"app">>,<<"plumtree">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Epidemic Broadcast Trees">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"include/plumtree.hrl">>,<<"rebar.config">>,
  <<"rebar.lock">>,<<"src/plumtree.app.src">>,<<"src/plumtree.erl">>,
  <<"src/plumtree_app.erl">>,<<"src/plumtree_broadcast.erl">>,
  <<"src/plumtree_broadcast_handler.erl">>,
  <<"src/plumtree_peer_service_console.erl">>,<<"src/plumtree_sup.erl">>,
  <<"src/plumtree_util.erl">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/lasp-lang/plumtree">>}]}.
{<<"name">>,<<"plumtree">>}.
{<<"requirements">>,
 [{<<"lager">>,
   [{<<"app">>,<<"lager">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"~>3.5">>}]},
  {<<"lasp_support">>,
   [{<<"app">>,<<"lasp_support">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"~>0.1">>}]},
  {<<"partisan">>,
   [{<<"app">>,<<"partisan">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"~>4.1">>}]}]}.
{<<"version">>,<<"0.6.0">>}.
