{<<"name">>,<<"types">>}.
{<<"version">>,<<"0.1.8">>}.
{<<"requirements">>,#{}}.
{<<"app">>,<<"types">>}.
{<<"maintainers">>,[<<"Chris Meiklejohn">>,<<"Vitor Enes Duarte">>]}.
{<<"precompiled">>,false}.
{<<"description">>,<<"Conflict-free Replicated Data Types">>}.
{<<"files">>,
 [<<"src/types.app.src">>,<<"LICENSE">>,<<"README.md">>,
  <<"include/pure_type.hrl">>,<<"include/state_type.hrl">>,
  <<"priv/.gitkeep">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"src/async_iterate.erl">>,<<"src/causal_context.erl">>,
  <<"src/dot_fun.erl">>,<<"src/dot_map.erl">>,<<"src/dot_set.erl">>,
  <<"src/dot_store.erl">>,<<"src/lists_ext.erl">>,<<"src/orddict_ext.erl">>,
  <<"src/ordsets_ext.erl">>,<<"src/pure_awset.erl">>,
  <<"src/pure_dwflag.erl">>,<<"src/pure_ewflag.erl">>,
  <<"src/pure_gcounter.erl">>,<<"src/pure_gset.erl">>,
  <<"src/pure_mvregister.erl">>,<<"src/pure_no_compaction.erl">>,
  <<"src/pure_pncounter.erl">>,<<"src/pure_polog.erl">>,
  <<"src/pure_rwset.erl">>,<<"src/pure_trcb.erl">>,<<"src/pure_twopset.erl">>,
  <<"src/pure_type.erl">>,<<"src/state_awmap.erl">>,<<"src/state_awset.erl">>,
  <<"src/state_awset_ps.erl">>,<<"src/state_bcounter.erl">>,
  <<"src/state_boolean.erl">>,<<"src/state_causal_type.erl">>,
  <<"src/state_dwflag.erl">>,<<"src/state_ewflag.erl">>,
  <<"src/state_gcounter.erl">>,<<"src/state_gmap.erl">>,
  <<"src/state_gset.erl">>,<<"src/state_ivar.erl">>,
  <<"src/state_lexcounter.erl">>,<<"src/state_lwwregister.erl">>,
  <<"src/state_max_int.erl">>,<<"src/state_mvmap.erl">>,
  <<"src/state_mvregister.erl">>,<<"src/state_orset.erl">>,
  <<"src/state_pair.erl">>,<<"src/state_pncounter.erl">>,
  <<"src/state_twopset.erl">>,<<"src/state_type.erl">>,<<"src/type.erl">>,
  <<"src/types.erl">>,<<"src/types_app.erl">>,<<"src/types_sup.erl">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/lasp-lang/types">>}]}.
{<<"build_tools">>,[<<"rebar3">>]}.
