{<<"name">>,<<"gen_flow">>}.
{<<"version">>,<<"0.0.5">>}.
{<<"requirements">>,#{}}.
{<<"app">>,<<"gen_flow">>}.
{<<"maintainers">>,[<<"Chris Meiklejohn">>,<<"Borja o'Cook">>]}.
{<<"precompiled">>,false}.
{<<"description">>,
 <<"Generic abstraction for building dataflow computations.">>}.
{<<"files">>,
 [<<"src/gen_flow.app.src">>,<<"LICENSE">>,<<"README.md">>,<<"rebar.config">>,
  <<"rebar.lock">>,<<"src/gen_flow.erl">>,<<"src/gen_flow_example.erl">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/lasp-lang/gen_flow">>}]}.
{<<"build_tools">>,[<<"rebar3">>]}.
