{<<"name">>,<<"lasp_support">>}.
{<<"version">>,<<"0.0.3">>}.
{<<"requirements">>,
 #{<<"lager">> =>
       #{<<"app">> => <<"lager">>,<<"optional">> => false,
         <<"requirement">> => <<"~>3.5">>},
   <<"time_compat">> =>
       #{<<"app">> => <<"time_compat">>,<<"optional">> => false,
         <<"requirement">> => <<"~>0.0.1">>}}}.
{<<"app">>,<<"lasp_support">>}.
{<<"maintainers">>,[<<"Chris Meiklejohn">>]}.
{<<"precompiled">>,false}.
{<<"description">>,<<"Support libraries for Lasp from Riak Core.">>}.
{<<"files">>,
 [<<"src/lasp_support.app.src">>,<<"LICENSE">>,<<"README.md">>,
  <<"rebar.config">>,<<"rebar.lock">>,<<"src/app_helper.erl">>,
  <<"src/dvvset.erl">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/lasp-lang/partisan">>}]}.
{<<"build_tools">>,[<<"rebar3">>]}.
