{<<"name">>,<<"time_compat">>}.
{<<"version">>,<<"0.0.1">>}.
{<<"requirements">>,#{}}.
{<<"app">>,<<"time_compat">>}.
{<<"maintainers">>,[<<"Chris Meiklejohn">>]}.
{<<"precompiled">>,false}.
{<<"description">>,<<"Erlang 18 time compatibility library.">>}.
{<<"files">>,
 [<<"src/time_compat.app.src">>,<<"LICENSE">>,<<"README.md">>,
  <<"rebar.config">>,<<"rebar.lock">>,<<"src/time_compat.erl">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/lasp-lang/time_compat">>}]}.
{<<"build_tools">>,[<<"rebar3">>]}.
